@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Ubuntu:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
*::-webkit-scrollbar{

    width: 7px;
    height: 7px;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(136, 0, 110);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }
  *::-webkit-scrollbar-thumb:hover {
    transition-property: background-color, color;
    transition-duration: 0.7s;
    background-color: rgb(153, 1, 173);    /* color of the scroll thumb */
  }
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: rgb(61, 61, 61);
}
.container{
    position:relative;
    width: 100%;
}
.navegation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: rgb(136, 0, 125);
    transition: 0.6s;
    overflow: hidden;
}
.navegation.active{
    width: 80px;
}
.navegation ul .options{
    border-left: 10px solid rgb(136, 0, 125);
}
.navegation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navegation ul .options li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 100px ;
}
.navegation ul .options li:hover{
    background:rgb(61, 61, 61);
}
.navegation ul .nameLogo{
    margin-bottom: 40px;
    pointer-events: none;
    background: rgb(136, 0, 110);
    border-bottom-right-radius:500px;
    font-size: 25px;
    font-weight: lighter;
}
.navegation ul .nameLogo ion-icon{
    margin-left: 20px;
}
.navegation ul .nameLogo .tittle{
    margin-left: 10px;
}
.navegation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:white;
}
.navegation ul .options li:hover a{
    color: rgb(243, 96, 231);
}
.navegation ul li .brand-icon,
.navegation ul li .icon{
    position: relative;
    display:block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navegation ul li .brand-icon{
    margin-top: 5px;
}
.navegation ul li .icon ion-icon{  
    font-size: 1.75em;
}
.navegation ul li .brand-icon ion-icon{  
    font-size: 1.5em;
}
.navegation ul li .tittle{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
}
/*outside curve*/
.navegation ul .options li:hover a::before{
    content: '';
    position:absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 20%;
    box-shadow: 35px 35px 0 10px rgb(61, 61, 61);
}
.navegation ul .options li:hover a::after{
    content: '';
    position:absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 20%;
    box-shadow: 35px -35px 0 10px rgb(61, 61, 61);
    pointer-events: none;
}

/*Main*/
.main{
    position: absolute;
    width: calc(100% - 300px) ;
    Left: 300px;
    min-height: 100vh;
    background:rgb(61, 61, 61);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 80px) ;
    left: 80px;

}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle{
    position:relative;
    top: 0;
    width: 60px;
    height: 60px;
    background: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    cursor:pointer;
}
.search{
    position:relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height:40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid rgb(44, 44, 44);
}
.search ion-icon{
    position: absolute;
    top:0;
    left: 10px;
}
.online-sm,
.offline-sm{
    color: transparent;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*cards*/
.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-gap: 60px;*/
    color: white;
}
.cardBox .card{
    position: relative;
    background: rgb(136, 0, 125);
    padding: 30px;
    border-radius: 5px;
    display:flex;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgb(44, 44, 44);
}
.cardBox .card:hover{
    background-color: rgb(110, 0, 101);
    transition-property: background-color, color;
    transition-duration: 0.9s;
}
.cardBox .iconBx{
    font-size: 35px;
}
.cardBox .card .numbers{
    position: relative;
    color: rgb(250, 209, 255);
    font-weight: 500;
    font-size: 1.5em;
}
.cardBox .card .cardName{
    color: rgb(200, 200, 200);
    font-weight: 5;
    font-size: 1.1em;
}
.details{
    position: relative;
    width: 100%;
    height: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 30px;
    color: white;

}
.details .recentOrders{
    position: relative;
    display: grid;
    min-height: 700px;
    background: rgb(61, 61, 61);
    padding: 20px;
    box-shadow: 0 7px 25px rgb(44, 44, 44);
    border-radius: 20px;
    overflow: auto;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
    color: rgb(250, 209, 255);
}
.btn{
    position: relative;
    padding: 5px 10px;
    background: rgb(136, 0, 125);
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
.btn:hover{
    transition-property: background-color, color;
    transition-duration: 0.7s;
    background-color: rgb(255, 255, 255);
}
.btn:hover span{
    transition-property: color, color;
    transition-duration: 0.7s;
    color: rgb(110, 0, 101);
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: -200px;
}
.details table thead td{
    font-weight: 600;
}
.details .recentOrders table tr{
    border-bottom: 1px solid rgb(93, 93, 93);
}
.details .recentOrders table tr:last-child{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover{
    transition-property: background-color, color;
    transition-duration: 0.9s;
    background-color: rgb(136, 0, 125);
}
.details .recentOrders table tr td{
    padding: 10px;
}
.details .recentOrders table tr td:last-child,
.details .recentOrders table tr td:nth-child(3),
.details .recentOrders table tr td:nth-child(2){
    text-align: center;
}
.friends{
    position: relative;
    display: grid;
    min-height: 370px;
    padding: 20px;
    box-shadow: 0 7px 25px rgb(44, 44, 44);
    border-radius: 20px;
    overflow: auto;
}
.friends table{
    margin-top: -300px;

}
.friends .imgBx{
    position:relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.friends .online{
    color: rgb(91, 221, 91);
    font-weight: lighter;
    font-size: 12px;
    margin-left: 8px;
    position: absolute;

}
.friends .offline{
    color: rgb(233, 111, 84);
    font-weight: lighter;
    font-size: 12px;
    margin-left: 8px;
    position: absolute;

}
.friends .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.friends table tr:hover{
    transition-property: background-color, color;
    transition-duration: 0.9s;
    background-color: rgb(136, 0, 125);
}

.friends table tr td{
    padding: 12px 10px;
}
.friends table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.friends table tr td h4 span{
    font-size: 14px;
    color: rgb(153, 153, 153);
}
/*responsive*/
@media (max-width: 1500px){
    .details{
        grid-template-columns: 3fr 1fr;
    }
}
@media (max-width: 1370px){
    .details{
        grid-template-columns: 2fr 1fr;
    }
    .details .recentOrders{
    min-height: 370px;
    }
    .details .recentOrders table{
        margin-top: 0;
    }
    .friends table{
        margin-top: 0;
    }

}
@media(max-width: 1100px){
    .cardBox{
        grid-template-columns: repeat(2, 1fr );
    } 
    .details{
        grid-template-columns: 1fr;
    }
    .friends{
        padding: 20px;
    }  
    .friends table tr td h4{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2em;
    }
    .friends table tr td h4 br{
        display: none;
    }
    .friends table tr td h4 span{
        margin-left: 20px;
        font-size: 18px;
    }
    .friends table tr td{
        border-bottom: 1px solid rgb(93, 93, 93);
    }

    .friends .online,
    .friends .offline{
        color: transparent;
    }
    .friends table tr .online-sm{
        color: rgb(91, 221, 91);
        font-size: 17px;
    }
        .friends table tr .offline-sm{
        color: rgb(233, 111, 84);
        font-size: 17px;
    }
}
@media(max-width: 1020px){
    .details{
        grid-template-columns: 1fr;
    }
}
@media(max-width: 900px){
    .navegation{
        left: -300px;
    }
    .navegation.active{
        left:0;
        width: 100%;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 100%;
    }
}

@media(max-width: 800px){

    .details{
        grid-template-columns: 1fr;
    }
    .user{
        min-width: 40px;
    }
    .navegation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navegation.active{
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 10001;
    }
    .main{
        left: 0px;
        width: 100%;
    }
    .main.active{

    }
}


@media(max-width: 480px){
    .cardBox{
    grid-template-columns: repeat(1, 1fr);
    }
}